.container {margin: 0px auto;width: 960px;}
.row:after {clear: both;display: block;visibility: hidden;overflow: hidden;height: 0px !important;line-height: 0px;font-size: xx-large;content: "x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x";}
.row {*zoom:1;}

.col-1-12 {width: 5em;float: left;}
.col-2-12 {width: 10em;float: left;}
.col-3-12 {width: 15em;float: left;}
.col-4-12 {width: 20em;float: left;}
.col-5-12 {width: 25em;float: left;}
.col-6-12 {width: 30em;float: left;}
.col-7-12 {width: 35em;float: left;}
.col-8-12 {width: 40em;float: left;}
.col-9-12 {width: 45em;float: left;}
.col-10-12 {width:50em;float: left;}
.col-11-12 {width:55em;float: left;}
.col-12-12 {width:60em;float: left;}

.left-1 {margin-left: 5em;}
.left-2 {margin-left: 10em;}
.left-3 {margin-left: 15em;}
.left-4 {margin-left: 20em;}
.left-5 {margin-left: 25em;}
.left-6 {margin-left: 30em;}
.left-7 {margin-left: 35em;}
.left-8 {margin-left: 40em;}
.left-9 {margin-left: 45em;}
.left-10 {margin-left:50em;}
.left-11 {margin-left:55em;}
.left-12 {margin-left:60em;}

.right-1 {margin-right: 5em;}
.right-2 {margin-right: 10em;}
.right-3 {margin-right: 15em;}
.right-4 {margin-right: 20em;}
.right-5 {margin-right: 25em;}
.right-6 {margin-right: 30em;}
.right-7 {margin-right: 35em;}
.right-8 {margin-right: 40em;}
.right-9 {margin-right: 45em;}
.right-10 {margin-right:50em;}
.right-11 {margin-right:55em;}
.right-12 {margin-right:60em;}